html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background-color: #F3F3F3;
    margin: 2rem;
    border-radius: 0.5rem;
}
header {
    display: flex;
    justify-content: space-between;
    padding:  1rem 6rem;
}
.navGroup {
    display: flex;
    gap: 3rem;
}
.nav {
    display: flex;
    gap:1.8rem;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.nav a {
    font-weight: 500;
    color: #828282;
    cursor: pointer;
}

.nav a:nth-child(1) {
    color: #000;
}

.signup {
    background-color: #FF6F1E;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    padding: 0.5rem 2rem;
    border: 0;
    border-radius: 99999px;
    cursor: pointer;
}
.hamburger {
    display: hidden;
}
.hero {
    display: flex;
    width: 100%;
    justify-content: space-around;

}
.hero div {
    width: 35%;
    margin: 2rem 0;;
}

.heroChild1 {
    margin-top: 3rem;
}

.heroChild1 h1 {
    font-size: 3rem;
    margin-bottom: 0px;
}
.heroChild1 p {
    color: #828282;
}

#getStarted {
    background-color: #FF6F1E;
    border: none;
    padding: 0.8rem 2rem;
    color: white;
    font-weight: bold;
    border-radius: 9999px;
    font-size: 1.1rem;
}

#orderNow {
    background-color: transparent;
    border: 2px solid #000;
    padding: 0.8rem 2rem;
    border-radius: 999px;
    font-size: 1.1rem;

}

.heroButtons{
    display: flex;
    gap: 2rem;
    min-width: fit-content;
    margin-top: 3rem;
}

.pizza1 {
   border-radius: 4rem; 
   width: 90%;
   height: 95%;
}

.heroChild2 {
    margin: 2rem 2rem;
    position: relative;
}

.pizzaCards {
    display: flex;
    background-color: white;
    align-items: center;
    padding: 1rem 2rem;
    width: max-content;
    gap: 1.5rem;
    border-radius: 1rem;
    font-weight: 500;
    
   
}

.pizzaCards p {
    margin: 0.3rem 0;

}

.pizzaCards img {
    border-radius: 999px;
}

.karela {
     /* here will change the position */
     position: absolute;
     top: 60%;
     left: -15%;
}

.egg {
    position: absolute;
    top: 25%;
    right: -10%;
}

.burgerPizzaCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
    width: 17rem;

    position: absolute;
    bottom: -15%;
    left: 30%;
}

.burgerPizzaCard  > * {
    position: relative;
    top: -2rem;
    
}

.burgerPizzaCard img {
    border-radius: 999px;
    position: relative;
}
.burgerTitle {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}
.burgerPara {
    text-align: center;
    margin: 0 1rem;
    font-size: 0.9rem;
}

@media (max-width: 900px) {
    .nav {
        display: none;
    }
    header {
        padding: 1rem 1rem;
    }
    .logo {
        font-size: 1.7rem;
    }
    .signup {
        font-size: 0.9rem;
    }
    .hamburger {
        display: block;
    }
    .hero {
        flex-direction: column;
    }
    .hero div {
        width: 100%;
        padding: 0 1rem;
        margin: 1rem 0;
    }
    .hero h1 {
        font-size: 2.5rem;
        margin-right: 1rem;
    }
    .hero p {
        margin-right: 1rem;
    }
    .heroButtons {
        flex-direction: row;
        padding: 0;
        flex-wrap: wrap;
    }
    #getStarted {
        width: 10rem;
        font-size: 0.9rem;
    }
    #orderNow {
        width: 10rem;
        font-size: 0.9rem;
    }

    .pizza1 {
        border-radius: 2rem;        
    }

    .pizzaCards {
        font-size: 0.9rem;
        padding: 0.8rem 1.5rem;
    }

    .egg{
    right: 0;        
    }
    .karela {
        left:-10%;
    }
    .burgerPizzaCard {
        display: none;
    }
}

.scrollMenu {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: 2rem;
}
.scrollMenu .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.scrollMenu .menu h2 {
    font-size: 2rem;
}

.scrollMenu .menu .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18rem;
    gap: 1rem;
    overflow: scroll;
}

.scrollMenu .menu .buttons button {
    background-color: #F5F5F5;
    border: none;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: 1rem 0;

}

.scrollMenu .menu .buttons button span {
    display: flex;
    width: 10rem;
    text-align: left;
    align-items: center;
    justify-content: left;
    margin: 0 auto;
}

#selectedButton{
    background-color: #181818;
    color: white;
}

.scrollMenu .menu .buttons span p {
    margin: 0;
}

.scrollMenu .menu .buttons span p:nth-child(1) {
    background-color: #FF6F1E;
    color: white;
    padding: 0.5rem 0.9rem;
    border-radius: 999px;
    margin-right: 1rem;
}

.scrollMenu .menuImage {
    width: 100%;


}

.menuImage {
    position: relative;

}

.menuImage img {
    width: 90vw;
    height: 90vw;
    object-fit: cover;
    border-radius: 2rem;
}
img {
    max-width: 100%;

}

.menuImage .filter {
    background-image: linear-gradient(180.15deg, rgba(0, 0, 0, 0.14) 65.64%, #000000 99.87%);
    position: absolute;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    top: 0;
}

.menuImage .info {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.3rem;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;

}


.menuImage .info span p {
    margin: 0.5rem 0;
}

.menuImage .info span:nth-child(2)  {
    border: 2px solid #fff;
    border-radius: 999px;
    height: min-content;
    padding: 0.5rem 0.8rem;
    
}

@media (min-width: 900px) {
    .scrollMenu {
        flex-direction: row;
        margin-top: 7rem;
        gap: 5rem;
    }

    .scrollMenu .menu h2 {
        font-size: 3rem;
    }

    .menuImage img {
        width: 50vw;
        height: 40vw;
    }

}